@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.headerContainer {
  width: 100%;
  color: #ffffff;
  font-family: "Poppins";
}

.headerTop {
  height: 100px;
  background-image: linear-gradient(to right, #7141fa, #a07eff);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.headerLeft {
  position: absolute;
  left: 70px;
  height: 100px;
  width: 320px;
  top: 0;
  padding: 8px 12px;
}

.headerLeftGrid {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-column-gap: 8px;
  align-items: center;
}

.deliveryInfo {
  font-size: 18px;
  font-weight: 100;
  width: 100%;
  padding-right: 6px;
}

.deliveryInfo p {
  margin-top: 0;
  margin-bottom: 0;
}

.headerText {
  font-weight: bold;
}

.headerCenter {
  display: flex;
  align-items: center;
}

.headerCenter > * {
  display: inline-block;
}

.headerCenter h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 51px;

  display: flex;
  align-items: center;
  text-align: center;
}

.headerRight {
  position: absolute;
  right: 70px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

@media screen and (max-width: 960px) {
  .headerContainer {
    height: 200px;
  }

  .headerLeft {
    position: static;
    color: #7141fa;
    margin-top: 12px;
  }

  .headerLeftGrid {
    grid-template-columns: 1fr 6fr 2fr;
  }

  .deliveryInfo {
    color: black;
    font-size: 16px;
    line-height: 19px;
  }

  .deliveryInfo p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 3px 0;
  }

  .headerText {
    color: #7141fa;
  }

  .headerCenter {
    position: absolute;
    left: 5px;
    bottom: 5px;
    display: flex;
    align-items: center;
  }

  .headerCenter img {
    width: 85%;
    height: 85%;
  }

  .headerCenter h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .headerRight {
    font-size: 16px;
    line-height: 19px;
    right: 16px;
    bottom: 25px;
  }
}
