@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

main {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  margin: 5px auto;
  width: 73%;
  padding-bottom: 21px;
  overflow: auto;
  white-space: nowrap;
}

p .cate {
  /* Desktop Title 2 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 51px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #000000;
  height: 51px;
  width: 774px;
}

p .item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #000000;
  height: 51px;
}

.thing {
  display: inline-block;
  margin-right: 30px;
}

.cateCenter {
  margin: 5px auto;
  width: 73%;
  padding-bottom: 21px;
  overflow: auto;
  white-space: nowrap;
}

.cateCenter::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.center::-webkit-scrollbar {
  display: none;
}

.cateThing {
  display: inline-block;
  margin-right: 30px;
}

.line {
  position: relative;
  width: 860px;
  height: 100px;
  top: 12px;
  display: flex;
}

#color1 {
  background: linear-gradient(90.28deg, #db88f8 0%, #f88888 100%);
}

#color2 {
  background: linear-gradient(90.28deg, #faba68 0%, #ffeb83 100%);
}

#color3 {
  background: linear-gradient(90.28deg, #ffeb83 0%, #cdf888 100%);
}

#color4 {
  background: linear-gradient(90.28deg, #88f8cf 0%, #88bbf8 100%);
}
