.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 4%;
  row-gap: 8px;
  padding-inline: 6%;
  margin-bottom: 80px;
}

.container div:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
}
