rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read: if request.auth.uid == uid;

      // don't allow modify fields that is specified below
      // in this case, user cannot modify the field current_order
      // more detail https://firebase.google.com/docs/firestore/security/rules-fields#allowing_only_certain_fields_to_be_changed
      allow write: if (!request.resource.data.diff(resource.data).affectedKeys()
        .hasAny(['temp_order']));

      match /payments/{id} {
        allow read: if request.auth.uid == uid;
      }
      match /current_orders/{id} {
        allow read: if request.auth.uid == uid;
        allow write: if false;
      }
    }

    match /products/{id} {
      allow read: if true;

      match /prices/{id} {
        allow read: if true;
      }
      match /tax_rates/{id} {
        allow read: if true;
      }
    }
  }
}