
.cartButtonDiv{
    position: fixed;
    z-index: 2;
    width: 384px;
    height: 60px; 
    top: 90vh;
}

.cartButtonDiv > .cartButton {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background: #FFFFFF;
    width: 384px;
    height: 60px;   
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
    z-index: 2;
    color: #7141FA;
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.cartButton > .price{
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    width: 58px;
    height: 21px;
    z-index: 2;
    color: #7141FA;
}

.cartButton > .count{
    z-index: 2;
    color: #7141FA;
    width: 68px;
    height: 21px;
    left: 24px;
    top: 21.29px;

    /* Desktop Small Button */
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.headerText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    margin: 0 auto;
    white-space: nowrap;
}

.cartItem{
    position: relative;
    width: 534px;
    height: 140px;
    margin: 0 auto;
}


.footerSubs{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.footerTotal{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.footerButton{
    box-sizing: border-box;
    position: relative;
    width: 384px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    color: #7141FA;
}

.footerButtonMain{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
}

.footerButtonItemCount{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-left: 5%;
}

.footerButtonPrice{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-right: 5%;
}

.closedStoreAlert{
    text-align: center;
    justify-content: center;
    width:200px;
    height:60px;
    text-align:center;
    background: #7141FA;
    color:white;
    font-family:Poppins;
    font-style:normal;
    font-weight:bold;
    font-size:18px;
}

.outOfStockAlert{
    width:354px;
    height:60px;
    text-align:center;
    background: #EF5247;
    color:white;
    font-family:Poppins;
    font-style:normal;
    font-weight:bold;
    font-size:18px;
}

@media screen and (max-width : 413px) {
    .footerButton{
        width: 296px;
        height: 60px; 
    }
}

@media screen and (max-width : 570px){
    .cartItem{
        position: relative;
        width: 236px;
        height: 75px;
        margin: 0 auto;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}
