@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.box {
    width: 534px;
    height: 140px;
    background: #FFFFFF;
    position : relative;
    border-color: black;
    border: 1px solid #C4C4C4;
    border-style: solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    align-items: center;
}

p .itemName{
    position: absolute;
    left: 237px;
    top: 33px;
    width:133px;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    display: flex;
    align-items: center;
}

p .Details{
    position: absolute;
    left: 237px;
    top: 72px;
    width: 97px;
    height: 21px;
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

p .price{
    position: absolute;
    left: 237px;
    top: 97px;
    width: 54px;
    height: 21px;
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

p .image{
    position: absolute;
    width: 96px;
    height: 95px;
    left:90px;
    top:21px;
    background: #C4C4C4;
}

.CartItemdelete{
    position : relative;
    margin-top: 14px;
    margin-left: 16.34px;
    background-image: url("../../public/Delete.svg");
    height: 23.44px;
    width: 20.31px;
    border: 0px;
    cursor: pointer;
}

.pluscart{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #7141FA;
}

@media screen and (max-width : 570px) {
    .box{
        width: 236px;
        height: 75px;
    }

    .CartItemdelete{
        width: 12.19px;
        height: 14.06px;
        margin-left: 9.41px;
        margin-top: 7px;
        background-image: url(../../public/Delete_Mobile.svg);
    }

    p .image{
        width: 51px;
        height: 50px;
        left: 32px;
        top: 12px;
    }

    p .itemName{
        left: 92px;
        top: 9px;
        width: 79px;
        height: 19px; 
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        color: #000000;
    }

    p .price{
        left: 92px;
        top: 31px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        width: 65px;
        height: 14px;
        color: #686868;
    }

    p .Details{
        left: 92px;
        top: 48px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        width: 32px;
        height: 14px;
        color: #686868;
    }
}