header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #000000;
  margin-top: 5px;
}

header > p {
  margin: 0 auto;
  padding-top: 10px;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  white-space: nowrap;
}

.back {
  margin-left: 20px;
  float: inline-end;
  color: #7140fa;
  background: none;
  border: 0;
}

.body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.box {
  border: 1px;
  max-width: 610px;
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.outerPicture {
  min-width: 125px;
  min-height: 125px;
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c4c4c4;
}

.outerPicture > .images {
  width: 50px;
  height: 50px;
  background: #c4c4c4;
  border-radius: 16px;
  border-radius: 8px;
}

.details {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details > .row {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  line-height: 29px;
}

.addressBox {
  max-width: 610px;
  width: 100%;
  height: inherit;
  margin-bottom: 20px;
}

.addressBox > .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.addressBox > .input {
  width: 100%;
  display: flex;
  border-radius: 5px;
  margin: 15px 0;
  align-items: center;
  justify-content: space-between;
  height: 53px;
}

.paymentBox {
  max-width: 610px;
  width: 100%;
  height: inherit;
  margin-bottom: 30px;
}

.paymentBox > .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.paymentBox > .input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 15px 0;
  font-family: "BlinkMacSystemFont";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.rusherTips {
  width: 100%;
  max-width: 610px;
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.rusherTips > .title {
  font-family: "BlinkMacSystemFont";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.tipButton {
  cursor: pointer;
  width: 100%;
  height: 41px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  padding: 25px 0px;
  font-size: 16px;
  line-height: 24px;
  color: #7141fa;
  background: #eeeeee;
  border: inherit;
}

.tipButton:nth-child(1) {
  border-radius: 20px 0 0 20px;
}

.tipButton:nth-child(4) {
  border-radius: 0 20px 20px 0;
}

.tipButton:focus {
  background: #7141fa;
  color: white;
}

.replacement {
  width: 100%;
  max-width: 610px;
  height: inherit;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.replacement > .title {
  font-family: "BlinkMacSystemFont";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.replaceButton {
  cursor: pointer;
  width: 100%;
  height: 41px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-weight: 700;
  color: #7141fa;
  padding: 25px 0px;
  background: #eeeeee;
  border: inherit;
  font-size: 16px;
}

.replaceButton:nth-child(1) {
  border-radius: 20px 0 0 20px;
}

.replaceButton:nth-child(3) {
  border-radius: 0 20px 20px 0;
}

.replaceButton:focus {
  background: #7141fa;
  color: white;
}

.placeOrder {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  align-items: center;
  text-align: center;
  width: 420px;
  height: 60px;
  background: #7141fa;
  border-radius: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: white;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
