@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-weight: 500;
  font-size: 34px;
  line-height: 51px;
  margin-bottom: 0;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
}

.homeContainer {
  display: flex;
  justify-content: center;
}

.homeContent {
  width: 70%;
  max-width: 1150px;
  height: auto;
  margin-bottom: 100px;
}

.homeCategoryContainer {
  width: 100%;
  height: 116px;
  position: relative;
}

.homeCategoryNav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  overflow-y: hidden;
  overflow-x: scroll;
  grid-gap: 20px;
  transition-delay: 1s;
  scroll-behavior: smooth;
}

.homeCategoryNav::-webkit-scrollbar {
  display: none;
}

.categoryCard {
  text-align: center;
}

.categoryCard img {
  cursor: pointer;
  width: 85px;
  height: 85px;
}

.todaysSpecial {
  height: auto;
  padding: 20px 0 25px 0;
  position: relative;
}

.sectionBarTop {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #eeeeee;
  border: none;
}

.sectionBarBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #eeeeee;
  border: none;
}

.todaysSpecialHeader {
  height: auto;
  position: relative;
}

.todaysSpecialIcon {
  position: absolute;
  top: 0;
  right: 14px;
}

.todaysSpecial h3 {
  color: #7141fa;
}

.bigItemList {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 22px;
}

.bigItemList li {
  display: inline-block;
  width: 22%;
  max-width: 250px;
  min-width: 100px;
  height: auto;
}

.smallItemSection {
  padding: 8px 0;
}

.smallListContainer {
  position: relative;
  height: auto;
  width: 100%;
}

.categoryListContainer {
  position: relative;
  height: auto;
  width: 100%;
}

.smallItemList {
  display: flex;
  justify-content: space-between;
  list-style: none;

  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;

  grid-gap: 1.65%;
  /* grid-gap: 17px; */
  transition-delay: 1s;

  margin-left: -15px;
  margin-right: -15px;
  padding: 15px 15px 4px 15px;
}

.smallItemList::-webkit-scrollbar {
  display: none;
}

.smallItemList li {
  flex-shrink: 0;
  width: 15.3%;
  max-width: 157px;

  height: auto;
}

.categoryItemList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 15px;

  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;

  grid-gap: 1.65%;
  /* grid-gap: 17px; */
  transition-delay: 1s;

  margin-left: -15px;
  margin-right: -15px;
  padding: 15px 15px 4px 15px;
}

.categoryItemList::-webkit-scrollbar {
  display: none;
}

.categoryItemList li {
  flex-shrink: 0;
  width: 14%;
  max-width: 157px;
  min-width: 90px;
  height: auto;
}

.seeAllButton {
  position: "absolute";
  top: 0;
  right: 0;
}

.categoryContainer {
  height: auto;
  padding: 25px 0 25px 0;
  position: relative;
}

.categoryHeader {
  height: auto;
  position: relative;
  display: flex;
  grid-gap: 10px;
  align-items: center;
}

.categoryHeader div:first-child svg {
  width: 60px;
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 28px;
    line-height: 42px;
  }

  h3 {
    font-size: 18px;
    line-height: 21px;
  }

  .homeContent {
    width: 80%;
  }

  .homeCategoryContainer {
    height: 100px;
  }

  .homeCategoryNav {
    grid-gap: 17px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
  }

  .categoryCard img {
    cursor: pointer;
    width: 67px;
    height: 67px;
  }

  .todaysSpecial {
    padding: 20px 0 22px 0;
  }

  .todaysSpecialIcon {
    width: 22px;
    height: 31px;
  }

  .bigItemList li {
    width: clamp(100px, 17vw, 190px);
    height: auto;
    padding: 16px 0;
  }

  .smallItemSection h3 {
    font-size: 22px;
    line-height: 33px;
  }

  .smallItemList li {
    width: clamp(100px, 11vw, 130px);
    padding: 0;
  }

  .categoryHeader {
    grid-gap: 19px;
  }

  .categoryHeader img {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 1000px) {
  h2 {
    font-size: 28px;
    line-height: 42px;
  }

  h3 {
    font-size: 18px;
    line-height: 21px;
  }

  .homeContent {
    width: 90%;
  }

  .homeCategoryContainer {
    height: 100px;
  }

  .homeCategoryNav {
    grid-gap: 17px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
  }

  .categoryCard img {
    cursor: pointer;
    width: 67px;
    height: 67px;
  }

  .todaysSpecial {
    padding: 20px 0 22px 0;
  }

  .todaysSpecialIcon {
    width: 22px;
    height: 31px;
  }

  .smallItemSection h3 {
    font-size: 22px;
    line-height: 33px;
  }

  .categoryHeader {
    grid-gap: 19px;
  }

  .categoryHeader img {
    width: 70px;
    height: 70px;
  }

  .categoryItemList li {
    width: 95px;
  }
}

@media screen and (max-width: 800px) {
  .homeContent {
    width: 95%;
  }

  .bigItemList li {
    width: clamp(120px, 20vw, 150px);
    height: auto;
    padding: 16px 0;
  }
  .categoryItemList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 20px;
    width: auto;
    justify-items: center;
    padding: 16px 0;
  }

  .categoryItemList li {
    width: clamp(100px, 35vw, 200px);
    padding: 0;
  }

  .smallItemList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 20px;
    width: auto;
    justify-items: center;
    padding: 16px 0;
  }

  .smallItemList li {
    width: clamp(100px, 35vw, 200px);
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .homeContent {
    width: 100%;
  }

  .todaysSpecial {
    padding-inline: 6.4%;
    padding-block: 25px 30px;
  }

  .bigItemList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 8.2%;
    row-gap: 2%;
    width: auto;
  }
  .bigItemList li {
    width: 100%;
    padding: 0;
  }
}
