@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.container {
  text-align: center;
  margin-top: 6.4%;
  margin-bottom: 6.4%;
  margin-right: 9.6%;
  margin-left: 9.6%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 30px;
  column-gap: 5%;
  margin-left: 4%;
}

.searchBar {
  width: 95%;
  height: 30px;
  border: 1px solid #7141fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  padding: 10px 40px;
}

.searchBar::placeholder {
  color: #7141fa;
}

.pageTitle {
  width: 189px;
  height: 51px;
  left: 180px;
  top: 133px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 51px;

  display: flex;
  align-items: center;

  color: #000000;
  margin-left: 50px;
}

label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 2px;
  bottom: 0;
  width: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%237141FA' width='25' height='25' viewBox='0 -2 20 20' fill-rule='evenodd'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    center / contain no-repeat;
}

@media only screen and (max-width: 768px) {

  .container {
    text-align: center;
    margin-top: 6.4%;
    margin-bottom: 6.4%;
    margin-right: 3%;
    margin-left: 3%;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 5%;
  }

  .pageTitle {
    width: 189px;
    height: 51px;
    left: 180px;
    top: 133px;

    /* Desktop Title 1 */
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;

    /* identical to box height */
    display: flex;
    align-items: center;

    color: #000000;
    margin-left: 10px;
  }
}





