.viewCart {
    position: sticky;
    bottom: 115px;
    left: 50%;
    transform: translateX(-50%);
    width: 384px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #C4C4C4;
    color: #7141FA;
    border-radius: 20px;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.viewCart h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 24px;

}

@media screen and (max-width: 960px) {
    .viewCart {
        display: none;
    }
}