.cateOutline{
    width:200px;
}

.catePlus{
    position: relative;
    top: -170px;
    right: 0px;
    left: -20px;
    bottom: 58px;
    cursor: pointer;

    width:36px;
    height:36px;
    border: 0;
    border-radius: 19px;
}


.cateImage{
    position: relative;
    top: 0;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 200px;
    height: 200px;
    border-radius: 16px;
    border-style: solid;
    border-color: gray
}

.catePrice{
    position: relative;
    left: 30%;
    right: 23.4%;
    top: 20%;
    bottom: 0%;
    /* Desktop Body */
    font-family: ‘SF Pro’;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 0px;  
}