.outline{
    width:90px;
    height: 90px;
    position: relative;
}

.Itemplus{
    position: absolute;
    border: 0;
    border-radius: 19px;
    height:36px;
    width: 36px;
    left: 65%;
    bottom: 80%;
}

.image{
    background-image: url('./cheetos.png');
    position: absolute;
    top: 0;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 90px;
    height: 90px;
    
}

.price{
    position: absolute;
    left: 25%;
    bottom: -35%;
    /* Desktop Body */
    font-family: ‘SF Pro’;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;  
}