.leftPanel {
  position: relative;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 300px;
  height: 100vh;
  border-right: 2px solid lightgray;
  gap: 20px;
  overflow-y: auto;
}

/* HEADER */
.leftPanel__Header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: white;
  border-radius: var(--border-Radius);
}
/* BODY */
.leftPanel__Body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
/* ORDER COMPONENT */
.leftPanel__Order {
  width: auto;
  max-width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  background-color: #7c91f426;
  padding: 5px;
  border: 2px solid #c8d1ff;
  border-radius: var(--border-Radius);
  font-size: 12px;
  gap: 2px;
  cursor: pointer;
}
.orderSelected {
  border: 3px solid green;
}

.leftPanel__Order .name {
  font-weight: 500;
}

/* Order Details Box */

.order-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
  box-sizing: border-box;
  z-index: 10;
  position: absolute;
  width: 219px;
  height: 425px;
  left: 93px;
  top: 87px;
  background: #FFFFFF;
  border: 2px solid #C8D1FF;
  border-radius: 15px;
}

.button {
  position: absolute;
  width: 176px;
  height: 31.95px;
  left: 116px;
  top: 465px;
  background: #7C91F4;
  border-radius: 100px;

}