:root {
  --fontSize: 10px;
  --fontColorGray: #eeeeee;
}
.rightPanel {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* RightPanel__Header */
.rightPanel__Header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: white;
  border-radius: var(--border-Radius);
  padding: 0 var(--padding);
}
.MuiButtonBase-root {
  padding: 5px !important;
}
/* RIGHT PANEL BODY */
.activeRushers,
.inActiveRushers {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* RightPanel__Rusher */
.rusherCard {
  width: 100%;
  border: 3px solid #eeeeee;
  border-radius: var(--border-Radius);
  border-radius: var(--border-Radius);
  padding: 5px 5px 1px 5px;
  background: rgba(238, 238, 238, 0.19);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* RUSHER INFORMATION */
/* -------------------- */
.rusherInformation {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.rusherInformation__left,
.rusherInformation__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.rusherEndTime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--fontColorGray);
  padding: 5px;
  border-radius: 5px;
  gap: 10px;
}
.editEndTime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  width: max-content;
  gap: 5px;
  border-radius: 5px;
  padding: 0 5px;
  border: 2px solid var(--fontColorGray);
}
.editEndTime__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 2px 0;
  font-size: 14px;
}
.editEndTime__right input {
  outline: none;
  border: none;
  background-color: var(--fontColorGray);
}
/* ---------------- */
.rusherOrdersRow,
.rusherOrdersExpand {
  display: flex;
  min-height: 50px;
  padding: 2px;
  gap: 5px;
  height: auto;
}

.rusherOrdersRow {
  flex-direction: row;
  overflow-x: auto;
}
.rusherOrdersExpand {
  flex-direction: row;
  flex-wrap: wrap;
}

.rusherPickUp,
.rusherDropOff {
  height: max-content;
  max-height: 100%;
  width: 120px;
  min-width: 120px;
  border-radius: var(--border-Radius);
  padding: 5px;
  font-size: var(--fontSize);
  cursor: move;
}
.rusherPickUp {
  border: 2px solid #b3ede6;
  background-color: #edfdfb;
}
.rusherDropOff {
  border: 2px solid #b5f1a7;
  background-color: #ecfce8;
}
.rusherPickUp .eta,
.rusherDropOff .eta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
