.centering {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    max-width: 600px;
    gap: 40px;
}

.orderContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "left topRight"
        "left right"
        "bottom bottom";
    row-gap: 10px;
    column-gap: 10px;
    position: relative;
    width: 100%;
}

.imageContainer {
    background-color: #C4C4C4;
    width: 18vh;
    height: 18vh;
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content:center;
    align-items: center;
    grid-row: span 1;
}

.imageContainer span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer > * {
    margin: 0 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    height: 6vh;
    width: 6vh;
}

.imageContainer div {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.imageContainer div img {
    width: 100%;
}

.orderInfo {
    line-height: 20px;
}

.orderAction {
    display: flex;
    position: relative;
    bottom: 0;
    height: 40px;
    width: 100%;
    gap: 20px;
    grid-area: bottom;
    justify-content: space-between;
}

.orderAction button {
    padding: 5px 0;
    width: 45%;
    border-radius: 8px;
    background-color: #ffffff;
    outline: none;
    border: #C4C4C4 1px solid;
    font-weight: bold;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.textContainer {
    display: flex;
    flex-direction: column;
}


.colorPurple {
    color: var(--bs-indigo);
}

.colorRed {
    color: red;
}

@media screen {
    @media (min-width: 500px) {
        .imageContainer {
            width: 200px;
            height: 200px;
            grid-row: span 2;
            grid-area: left;
        }

        .imageContainer > * {
            height: 75px;
            width: 75px;
        }

        .orderContainer {
            row-gap: 15px;
            column-gap: 25px;
        }

        .orderAction {
            grid-area: right;
        }

        .textContainer {
            grid-area: topRight;
        }
    }
}