.taskbarContainer {
    position: sticky;
    bottom: 0px;
    width: 100%;
    height: 80px;
    border-top: 2px solid #B8B8B8;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.taskbarContainer button {
    border: none;
    background-color: #ffffff;
}
