.supplies-popup-content{
  margin: auto;  
  background: rgb(255, 255, 255);  
  width: 100%;  
  padding: 5px;
  height: 95%;
}

.supplies-popup-arrow {  
  color: rgb(255, 255, 255);
}

[role='tooltip'].supplies-popup-content {  
  width: 200px;  
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.supplies-popup-overlay {  
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].supplies-popup-overlay {  
  background: transparent;
}