.container {
  position: relative;
  display: flex;
  justify-content: center;
  padding-inline: 10.5%;
}

.content {
  padding-top: clamp(90px, 30%, 150px);
  display: flex;
  flex-direction: column;
  width: 310px;
  height: auto;
  white-space: nowrap;
}

.content p {
  display: block;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.close {
  position: absolute;
  top: 22px;
  right: 17px;
  color: #7141fa;
}

.content img {
  position: relative;
  border-radius: 11px;
  width: 100%;
  aspect-ratio: 1/0.955;
}

.content img[alt]:after {
  display: block;
  position: absolute;
  top: -8px;
  width: 100%;
  aspect-ratio: 1/0.95;
  background-color: #c4c4c4;
  border-radius: 11px;
  content: "";
}

.name {
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
}

.stock {
  display: flex;
  justify-content: center;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  color: #7141fa;
}

.description {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #8f8f8f;
  margin-top: 5px;
}

.price {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-top: 5px;
}

.priceCountContent {
  margin-top: 10.4%;
  display: flex;
  justify-content: center;
  grid-gap: 20px;
}

.quantity {
  align-items: center;
  background-color: #eeeeee;
  border-color: transparent;
  display: flex;
  border-radius: 5px;
  width: 122px;
  height: 36px;
  justify-content: space-around;
}

.quantity button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 35px;
}

.quantity button img {
  width: 15px;
}

.countBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 100%;
  border-left: #c4c4c4 2px solid;
  border-right: #c4c4c4 2px solid;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 22.5px;
}

.addToCartButton {
  width: 240px;
  height: 60px;
  background: #7141fa;
  border: none;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addToCartText {
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
