.intro {
    display: flex;
    justify-content: flex-start;
    margin: 5rem 11em;
    margin-top: 5%;
    margin-bottom: 3%;
}

.intro #pfp {
    height: 60px;
    width: 60px;
    border-radius: 0.3rem;
}

.accountPage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 5rem 15em;
    margin-top: 2%;
    margin-bottom: 0;
}

.boxes {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: solid blueviolet 0.1rem;
    border-radius: 0.3rem;
    flex-direction: column;
    box-shadow: 0px 0px 10px blueviolet;
    margin-bottom: 5%;
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.title {
    font-size: large;
}

#surveyBtn {
    background: blueviolet;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.4rem 2rem;
    margin: 0rem 0.5rem;
    border: 1px solid var(--gray);
    border-radius: 0.3rem;
    box-shadow: 0rem 0.05rem 0.05rem 0.05rem #e0e0e0;
    color: white;
    width: 25%;
}