@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

.container {
  width: 100%;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 73%;
  max-width: 1060px;
}

.supplies section div > p {
  margin-top: 7.3px;
}

.supplies section > p {
  display: none;
}

.searchContainer {
  position: relative;
  width: 100%;
  height: 46px;
  margin-top: 45px;
  padding-inline: 6%;
}

.searchBar {
  width: 100%;
  height: 46px;
  border: none;
  background-color: #f3f3f3;
  border-radius: 8px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0 19px 0px 49px;
}

.searchBar::placeholder {
  color: #686868;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-image: url("../../assets/Search/search-exit-icon.svg");
}

.searchIcon {
  content: "";
  position: absolute;
  top: 12px;
  left: 40px;
  width: 21px;
}

.bigItemList {
  grid-gap: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.bigItemList li {
  display: inline-block;
  width: 100%;
  height: auto;
}

.resultsText {
  padding-left: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 29px;
  margin-top: 26px;
}

.noResultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 6%;
}

.noResultsText {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 15px;
}

.noResultsContainer p {
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.pickupTextFieldContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 94%;
  height: 56px;
  margin-top: 20px;
  background-color: #7141fa;
  border-radius: 30px;
}

.pickupTextField {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #ffffff00;
  border: none;
  padding: 29px;
}

.pickupTextField:focus {
  outline: none;
}

.submitIcon {
  position: absolute;
  right: 19px;
  top: auto;
}

.searchContainerSpacer {
  height: 25px;
}

.suggestionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 160px;
}

.inputContainer {
  display: flex;
  width: 100%;
  position: relative;
  width: 301px;
  height: 56px;
  align-items: center;
  margin-top: 13px;
}

.suggestionInput {
  padding-left: 22px;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  border: none;
  border-radius: 30px;
}

.suggestionInput::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #686868;
}

.suggestionSubmit {
  position: absolute;
  right: 22px;
  border: none;
  background-color: #00000000;
}

.suggestions {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.inputContainer button > img {
  stroke: black;
}

.categories {
  width: 100%;
  height: auto;
  margin-top: 45px;
  padding-bottom: 140px;
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 18px;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, 30%); */
  /* grid-column-gap: 0.4rem; */
  grid-row-gap: 3rem;
  justify-content: space-between;
}

.trendingContainer {
  padding-top: 25px;
}

.trendingHeader {
  padding-left: 12%;
  padding-bottom: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
  .bigItemList {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, 1fr);
    list-style: none;
    column-gap: 11%;
    row-gap: 30px;
    margin-bottom: 39px;
    padding-inline: 9.2%;
  }
}
