@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.supplies {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 80px;
  justify-content: center;
}

.header {
  height: 100px;
  background-color: #7141fa;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.back {
  position: relative;
  top: 25px;
  left: 30px;
  cursor: pointer;
}

.title {
  color: white;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  text-align: center;
  margin-top: 100px;
  margin-right: 6%;
  margin-left: 6%;
  margin-bottom: 6%;
}

.suggestions {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 10px;
  padding-top: 50px;
}

.jumpToAnotherCategory {
  padding-top: 80px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: left;

  padding-left: 5%;
  padding-bottom: 30px;
}

.item {
  width: 10%;
  height: 0%;
  padding-top: 20%;

  background: #c4c4c4;
  border-style: none;
  border-radius: 16px;
  position: relative;
}

.suggestionContainer {
  position: relative;
}

.suggestionInput {
  box-sizing: border-box;
  padding: 10px 100px 10px 20px;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
}

.suggestionSubmit {
  position: inherit;
  left: -35px;
  top: 7px;
  background: transparent;
  border: transparent;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-gap: 3rem;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .supplies {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0px;
    justify-content: left;
    margin-bottom: 50px;
    grid-row-gap: 10px;
  }

  .page {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 100px;
    margin-right: 6%;
    margin-left: 6%;
  }

  .item {
    width: 20%;
    height: 0%;
    padding-top: 20%;

    background: #c4c4c4;
    border-style: none;
    border-radius: 16px;
    position: relative;
  }

  .suggestions {
    padding-top: 0px;
  }

  .jumpToAnotherCategory {
    padding-top: 30px;
    font-size: 110%;
    padding-left: 5%;
    padding-bottom: 10px;
  }

  .categories {
    grid-template-columns: repeat(auto-fill, 40%);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
  }
}
