.modal90w{
    width: 100%;
    max-width: none!important;
}

.Cartbuttondiv{
    position: fixed;
    z-index: 2;
    width: 384px;
    height: 60px; 
    top: 90vh;
}

.header{
    position: relative;
    width: 130px;
    height: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    left: 15%;
    display: flex;
}

.headertext {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    margin: 0 auto;
    white-space: nowrap;
}

.cart_item{
    position: relative;
    width: 534px;
    height: 140px;
    margin: 0 auto;
}

.review_button {
    position: sticky;
    right:45vw;
}

.buttontext {
    font-family: 'System';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #7141FA;
}

.buttonnum {
    font-family: 'System';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.center {
    width: 384px;
    height: 60px;
    border-style: solid;
    border-color: yellowgreen;
    position: relative;
    }

.Cartbuttondiv .Cartbutton {
    position: absolute;
    background: #FFFFFF;
    width: 384px;
    height: 60px;   
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
    z-index: 2;
    color: #7141FA;
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.Cartbuttondiv .price{
    position: absolute;
    top: 21.29px;
    left:303px;
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    width: 58px;
    height: 21px;
    z-index: 2;
    color: #7141FA;
}

.Cartbuttondiv .count{
    position: absolute;
    z-index: 2;
    color: #7141FA;
    width: 68px;
    height: 21px;
    left: 24px;
    top: 21.29px;

    /* Desktop Small Button */
    font-family: 'BlinkMacSystemFont';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.footer_price{
    position: relative;
    height: 100px;
    width: 384px;
    text-align: center;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
    white-space: normal;
}

.footer_subs{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.footer_total{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.footer_button{
    box-sizing: border-box;
    position: relative;
    width: 384px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    color: #7141FA;
}

.footer_button_div{
    position: relative;
    height: 60px;
    text-align: center;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
}

.ft_text_big{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
}

.ft_text_small{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-left: 5%;
}

.ft_text_small2{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-right: 5%;
}

.ft_price{
    position: relative;
    margin: 0 auto;
    height: 20px;
    width: 180px;
    border-style: solid;
}